@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-neutral-900 text-neutral-300 antialiased selection:bg-indigo-500 selection:text-white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-neutral-100;
  }
}

@layer components {
  .btn {
    @apply flex cursor-pointer items-center gap-2 rounded-lg px-4 py-2 font-semibold text-white transition-colors duration-300;
  }
  .btn-icon {
    @apply flex h-10 w-10 items-center justify-center rounded-full text-white transition-colors duration-300;
  }
  .btn-primary {
    @apply bg-indigo-400 text-black shadow-sm hover:bg-indigo-500;
  }
  .btn-secondary {
    @apply bg-neutral-800 shadow-sm hover:bg-neutral-700;
  }
  .btn-ghost {
    @apply bg-transparent hover:bg-neutral-800;
  }
  .btn-blur {
    @apply bg-neutral-500/10 text-neutral-100 ring-neutral-500/20 hover:bg-neutral-500/20;
  }
  .card {
    @apply rounded-xl bg-neutral-900/70 shadow-lg ring-1 ring-neutral-800 backdrop-blur-md;
  }
  .chip {
    @apply rounded-full px-3 py-1.5 text-xs font-semibold shadow-sm ring-1;
  }
  .chip-primary {
    @apply bg-lime-500/10 text-lime-300 ring-lime-500/20;
  }
  .chip-secondary {
    @apply bg-neutral-500/10 text-neutral-100 ring-neutral-500/20;
  }
  .heading1 {
    @apply text-4xl;
  }
  .heading2 {
    @apply text-2xl;
  }
  .heading3 {
    @apply text-xl;
  }
  .blog-content code {
    @apply rounded bg-neutral-800 px-1.5 py-0.5 font-mono text-sm text-neutral-200;
  }

  .blog-content pre {
    @apply relative my-4 overflow-x-auto rounded-lg bg-neutral-800 p-4;
  }

  .blog-content pre code {
    @apply bg-transparent p-0;
  }
}
