---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Página no encontrada"
  description="La página que buscas no existe o ha sido movida."
>
  <div class="flex flex-col items-start gap-4">
    <div class="text-8xl">:(</div>
    <div class="text-lg">
      Tu PC está bien, pero la página no fue encontrada.
    </div>
    <div class="text-lg">
      El enlace que seguiste puede estar roto o la página ha sido eliminada.
    </div>
    <div>No te preocupes. Regresa a la página anterior.</div>
    <a href="/" class="btn btn-primary">Ir al inicio</a>
  </div>
</Layout>
