---
import Layout from "@layouts/Layout.astro";

import AstroIcon from "@assets/AstroIcon.astro";
---

<Layout title="Página no encontrada" description="La página que buscas no existe o ha sido movida.">
  <div class="flex flex-col items-center py-8 text-center">
    <AstroIcon class="animate-pulse" />
    <h1 class="heading1 mt-4">¡Ups! Parece que te has perdido.</h1>
    <p class="heading3 mt-2 mb-8">La página que buscas no existe.</p>
    <a href="/" class="btn btn-secondary">Ir al inicio</a>
  </div>
</Layout>
