---
import Layout from '../layouts/Layout.astro'

import AstroIcon from '../assets/AstroIcon.astro'
---

<Layout title="404: No encontrado">
  <div class="flex flex-col gap-4 items-center justify-center h-64">
    <AstroIcon />
    <p>404: No encontrado</p>
  </div>
</Layout>
