---
import Layout from "@layouts/Layout.astro";

import ProjectCard from "@components/ProjectCard.astro";

import projects from "@data/projects.json";
---

<Layout
  title="Brandon Palmeros | Desarrollo web front-end | Portafolio"
  subtitle="Portafolio"
  description="Desarrollador frontend en Xalapa, Veracruz. Especializado en desarrollo web a medida con Next.js y Astro. Diseño web responsive y optimización SEO. ¡Contáctame!"
>
  <div class="mt-4 grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</Layout>
