---
import Layout from "@layouts/Layout.astro";

import ProjectCard from "@components/ProjectCard.astro";

import projects from "@data/projects.json";
---

<Layout
  title="Brandon Palmeros | Desarrollo Frontend | Portafolio"
  subtitle="Portafolio"
  description="Creo experiencias digitales que conectan con la audiencia y alcanzan objetivos de marketing. Explora mis proyectos y contáctame."
>
  <div class="mt-4 grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</Layout>
