---
import Layout from "@layouts/Layout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { getCollection } from "astro:content";

// Get all projects
const allProjects = await getCollection("projects");

// Sort projects by id (ascending order)
const sortedProjects = allProjects.sort((a, b) => a.data.id - b.data.id);
---

<Layout
  title="Brandon Palmeros | Desarrollo web front-end | Portafolio"
  subtitle="Portafolio"
  description="Desarrollador web frontend en Xalapa, Veracruz. Especializado en desarrollo web a medida con Next.js y Astro. Diseño web responsive y optimización SEO. ¡Contáctame!"
>
  <div class="mt-4 grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3">
    {sortedProjects.map((project) => <ProjectCard project={project} />)}
  </div>
</Layout>
