---
import TerminalIcon from "@assets/TerminalIcon.astro";

interface Props {
  title: string;
  description: string;
  variant?: "default" | "error";
}

const { title, description, variant = "default" } = Astro.props;
---

<div
  class:list={[
    "flex items-start gap-4 rounded-lg border p-4 shadow-lg",
    variant === "default" && "border-neutral-800 bg-neutral-800",
    variant === "error" && "border-red-500/15 bg-red-500/10",
  ]}
>
  <TerminalIcon width="w-4" height="h-4" />
  <div>
    <p class="">{title}</p>
    <p class="">{description}</p>
  </div>
</div>
