---

---

<div
  class="fixed top-0 right-0 bottom-0 -left-full -z-10 bg-[url('/main-background.png')] bg-no-repeat md:inset-0 md:bg-[length:2560px_auto] md:bg-top"
>
</div>
<div class="fixed inset-0 -z-20 bg-[url('/main-pattern.svg')] [mask-image:linear-gradient(rgba(0,0,0,0.1),black)]">
</div>
