---
interface Props {
  href: string;
  color?: "btn-primary" | "btn-secondary";
  class?: string;
  icon?: boolean;
  openInNewTab?: boolean;
}

const {
  href,
  color = "btn-primary",
  class: className,
  icon,
  openInNewTab,
} = Astro.props;
---

<a
  href={href}
  class:list={["btn", color, className]}
  target={openInNewTab ? "_blank" : "_self"}
  rel={openInNewTab ? "noopener noreferrer" : undefined}
>
  {
    icon && (
      <div class="-ml-1.5">
        <slot name="icon" />
      </div>
    )
  }
  <span>
    <slot />
  </span>
</a>
