---
interface Props {
  href: string
  color?: 'btn-primary' | 'btn-secondary' | 'btn-white'
  icon?: boolean
}

const { href, color, icon } = Astro.props
---

<a href={href} class={`btn ${color}`}>
  {
    icon && (
      <div class="-ml-1.5">
        <slot name="icon" />
      </div>
    )
  }
  <slot />
</a>
