---
interface Props {
  icon?: boolean;
  color?: "chip-primary" | "chip-secondary" | "chip-outline";
  label: string;
}

const { color = "chip-primary", icon, label } = Astro.props;
---

<div class={`flex items-center gap-1.5 chip ${color}`}>
  {
    icon && (
      <div class="-ml-1.5">
        <slot />
      </div>
    )
  }
  <span>{label}</span>
</div>
