---
interface Props {
  icon?: boolean;
  color?: "chip-primary" | "chip-secondary";
  label: string;
  class?: string;
}

const { color = "chip-primary", icon, label, class: className } = Astro.props;
---

<div class:list={["chip flex items-center", color, className]}>
  {
    icon && (
      <span class="mr-2">
        <slot />
      </span>
    )
  }
  <span>{label}</span>
</div>
