---
import contact from "@data/contact.json";

import EmailIcon from "@assets/EmailIcon.astro";
import GitHubIcon from "@assets/GitHubIcon.astro";
import LinkedInIcon from "@assets/LinkedInIcon.astro";
---

<section class="flex items-center justify-center gap-2 card">
  {
    contact.map((item) => (
      <a
        href={item.url}
        class="btn-icon btn-secondary"
        target="_blank"
        rel="noopener noreferrer"
      >
        {item.icon === "EmailIcon" && <EmailIcon />}
        {item.icon === "GitHubIcon" && <GitHubIcon />}
        {item.icon === "LinkedInIcon" && <LinkedInIcon />}
      </a>
    ))
  }
</section>
