---

---

<footer class="mb-4 flex items-center justify-center">
  <p class="text-neutral-600">
    Construido con <a
      href="https://astro.build/"
      class="transition-colors duration-300 hover:text-neutral-500"
      target="_blank"
      rel="noopener noreferrer">Astro</a
    >
  </p>
</footer>
