<footer class="flex items-center justify-center mb-4">
  <p class="text-neutral-700">
    Construido con <a
      href="https://astro.build/"
      class="underline text-neutral-500"
      target="_blank"
      rel="noopener noreferrer">Astro</a
    >
  </p>
</footer>
