---

---

<footer class="mt-2 mb-6 flex items-center justify-center">
  <p class="animate-gradient bg-gradient-to-r from-indigo-400 via-purple-400 to-pink-400 bg-clip-text text-transparent">
    Construido con <a href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a>
  </p>
</footer>

<style>
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    background-size: 200% auto;
    animation: gradient 5s ease-in-out infinite alternate;
  }
</style>
