---
import Link from "./Link.astro";
---

<footer class="flex items-center justify-center mb-4">
  <p class="text-neutral-700">
    Construido con <Link href="https://astro.build/">Astro</Link>
  </p>
</footer>
