<footer class="flex items-center justify-center mt-2 mb-6">
  <p class="text-neutral-700">
    Construido con <a
      href="https://astro.build/"
      class="underline"
      target="_blank"
      rel="noopener noreferrer">Astro</a
    >
  </p>
</footer>
