---
---

<footer class="mt-auto flex w-full flex-col items-center justify-center border-t border-white/5 py-8 pt-10">
  <p class="text-sm tracking-tight text-neutral-500 font-display">
    Coded by Brandon in Veracruz
  </p>
</footer>
