---
import navbar from "@data/navbar.json";

const currentPath = Astro.url.pathname;
---

<nav class="flex items-center gap-2 card">
  {
    navbar.map(({ href, text }) => (
      <a
        href={href}
        class:list={[
          "btn",
          href === currentPath ? "btn-primary" : "btn-secondary",
        ]}
      >
        {text}
      </a>
    ))
  }
</nav>
