---
import navbar from '../data/navbar.json'

const pathname = Astro.url.pathname
---

<nav class="card">
  <ul class="flex items-center gap-2">
    {
      navbar.map((item) => (
        <li>
          <a href={item.href} class="btn" id="nav-link">
            {item.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  const url = window.location.pathname
  const navLinks = document.querySelectorAll('#nav-link')

  navLinks.forEach((link) => {
    if (link.getAttribute('href') === url) {
      link.classList.add('btn-primary')
    } else {
      link.classList.add('btn-secondary')
    }
  })
</script>
