---
import profile from "@data/profile.json";

import Chip from "./Chip.astro";

import LocationIcon from "@assets/LocationIcon.astro";
---

<section class="flex flex-col items-center card">
  <a
    href="/"
    class="border-2 border-indigo-500 rounded-full w-28 h-28 flex items-center justify-center mb-2"
  >
    <img src={profile.imageUrl} alt="" class="rounded-full w-24 h-24" />
  </a>
  <p class="text-neutral-100 font-semibold text-xl">{profile.name}</p>
  <p class="mb-2 text-neutral-500 text-sm">{profile.title}</p>
  <Chip icon label={profile.location}>
    <LocationIcon />
  </Chip>
</section>
