---
import profile from "../data/profile.json";

import Chip from "./Chip.astro";

import LocationIcon from "../assets/LocationIcon.astro";
---

<section class="flex flex-col items-center card">
  <a href="/">
    <figure
      class="outline-2 outline-indigo-500 outline outline-offset-4 rounded-full"
    >
      <img
        src={profile.imageUrl}
        alt=""
        width="96"
        height="96"
        class="rounded-full mb-2"
      />
    </figure>
  </a>
  <p class="text-neutral-100 font-semibold text-xl">{profile.name}</p>
  <p class="mb-2 text-neutral-500 text-sm">{profile.title}</p>
  <Chip icon label={profile.location}>
    <LocationIcon />
  </Chip>
</section>
