---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { coverImage, title } = project.data;
---

<article class="rounded-lg bg-neutral-800 transition-colors duration-300 hover:bg-neutral-700">
  <a href={`/projects/${project.slug}`}>
    <Image src={coverImage} alt={title} width={800} height={600} class="rounded-t-xl" />
    <div class="rounded-b-xl px-4 py-3">
      <h3 class="truncate">{title}</h3>
    </div>
  </a>
</article>
