---
interface Props {
  project: {
    slug: string;
    coverImage: string;
    name: string;
  };
}

const { project } = Astro.props;
---

<a
  href={`/projects/${project.slug}`}
  class="bg-neutral-800 hover:bg-neutral-700 text-neutral-100 rounded-lg transition-colors duration-300"
>
  <img
    src={project.coverImage}
    alt=""
    width="800"
    height="600"
    class="rounded-t-lg"
  />
  <div class="px-4 py-3 rounded-b-lg">
    <p class="font-semibold truncate">{project.name}</p>
  </div>
</a>
