---
import SkillCarousel from "./SkillCarousel.astro";

const coreSkills = ["HTML", "CSS", "JavaScript", "TypeScript"];
const frontendSkills = ["React", "Next.js", "Astro", "Maizzle", "Tailwind CSS"];
const backendSkills = ["Node.js", "Express", "Prisma", "PostgreSQL", "MongoDB"];
---

<div class="card relative flex flex-col overflow-hidden p-6">
  <SkillCarousel skills={coreSkills} />
  <SkillCarousel skills={frontendSkills} reverse={true} />
  <SkillCarousel skills={backendSkills} />
</div>
