---
interface Props {
  variant: "h1" | "h2" | "h3";
}

const { variant } = Astro.props;
---

<div
  class:list={[
    "font-bold text-neutral-100",
    variant === "h1" && "text-4xl",
    variant === "h2" && "text-3xl",
    variant === "h3" && "text-2xl",
  ]}
>
  <slot />
</div>
