---
import "@styles/base.css";

import Background from "@components/Background.astro";
import Profile from "@components/Profile.astro";
import Skills from "@components/Skills.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dlomynswh/image/upload/v1678916234/portfolio/og-image.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Background />
    <div
      class="flex flex-col lg:flex-row justify-center gap-4 px-4 pt-4 max-w-screen-xl mx-auto"
    >
      <aside>
        <div class="flex flex-col gap-4 shrink-0 lg:w-80 lg:sticky lg:top-4">
          <Profile />
          <Skills />
        </div>
      </aside>
      <main class="flex flex-col gap-4 grow">
        <Navbar />
        <Card p="p-6" class="flex-col">
          <slot />
        </Card>
        <Footer />
      </main>
    </div>
  </body>
</html>
