---
import "../styles/base.css";

import Cover from "../components/Cover.astro";
import Profile from "../components/Profile.astro";
import Skills from "../components/Skills.astro";
import Navbar from "../components/Navbar.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dlomynswh/image/upload/v1678916234/portfolio/og-image.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="fixed top-0 bottom-0 -left-full right-0 md:inset-0 bg-[url('/main-background.png')] md:bg-top bg-no-repeat md:bg-[length:2560px_auto]"
    >
    </div>
    <div
      class="fixed inset-0 -z-10 bg-[url('/main-pattern.svg')]"
      style="mask-image: linear-gradient(rgba(0, 0, 0, 0.1), black);"
    >
    </div>
    <div
      class="flex flex-col lg:flex-row gap-4 max-w-screen-xl px-4 mx-auto pt-4"
    >
      <aside>
        <div class="flex flex-col gap-4 shrink-0 lg:w-80 lg:sticky lg:top-4">
          <Profile />
          <Contact />
          <Skills />
        </div>
      </aside>
      <main class="flex flex-col gap-4 grow">
        <Navbar />
        <article class="card">
          <slot />
        </article>
        <Footer />
      </main>
    </div>
  </body>
</html>
